.choices-page {
  background-color: $calm;
}

.choices-slidebox {
  padding: 60px 0;
  .slider {
    padding-bottom: 50px;
  }
  .box {
    margin: 0 30px;
    &.active {
      background-color: #c8ecff;
    }
    .explore {
      header {
        background: url(/img/street.jpg) no-repeat center center;
        background-size: cover;
      }
    }
    .museums {
      header {
        background: url(/img/rijks.jpg) no-repeat center center;
        background-size: cover;
      }
    }
  }
}

.time-page {
  background-color: $calm;
  padding-top: 60px;
}