
h1 {
  margin: 50px auto;
  max-width: 80%;
  color:white;
  text-align: center;
  font-weight: 100;
}

.align-center {
  text-align: center;
}

.font-lg {
  font-size: 17px;
}

.full-height {
  height: 100%;
}

.display-table {
  display: table;
}
.table-cell {
  display: table-cell;
}
.align-middle {
  vertical-align: middle;
}

.bar-footer {
  text-transform: uppercase;
  i {
    margin-left: 15px;
  }
}

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

#mapinfo {
  position: absolute;
  left: 5px;
  top: 5px;
  background: white;
  width: 150px;
  /*height: 100px;*/
}
#mapinfo span {
  font-style: italic;
}

.logo-holder {
  margin-top: 60px;
  text-align: center;
  .logo {
    width: 100px;
    height:auto;
  }
  &.medium {
    margin-top: 50px;
    .logo {
      width: 80px;
    }
  }
}

.n8-box {
  background-color: white;
  height: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  header {
    height: 200px;
  }
  main {
    padding: 20px;
    text-align: center;
    color:$blue-dark;
    .box-title {
      font-size: 20px;
      color:$blue-dark;
      text-transform: uppercase;
    }
    .box-subtitle {
      font-size: 16px;
      color:$royal;
      text-transform: uppercase;
    }
  }
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.49);
}
.modal {
  background-color: transparent;
  .n8-box {
    margin: 40px;
    padding: 0;
    height: 400px;
    .box-title {
      margin-bottom: 0;
    }
    .box-subtitle {
      margin-top: 0;
    }
  }
}