.start-page {
  background: url(/img/adam.jpg) no-repeat center center;
  background-size: cover;
  box-shadow: inset 0 0 0 500px rgba(97, 97, 97, 0.6);

  h1 {
    margin: 50px auto;
    max-width: 80%;
    color:white;
    text-align: center;
    font-weight: 100;
  }
}