<!--<ion-header-bar class="bar-stable">
  <h1 class="title">Map</h1>
</ion-header-bar>-->

<ion-content scroll="false">
  <map on-create="mapCreated(map)"></map>
  <ul id="mapinfo" ng-click="openModal()">
    <li ng-repeat="info in routeInfo">
      <i class="ion ion-email"></i>
        {{info.text}} <span>{{info.duration}}</span>
    </li>
  </ul>
</ion-content>

<div class="bar bar-footer bar-calm">
  <div ui-sref="mapStep" class="title">Let's go! <i class="ion ion-arrow-right-c"></i></div>
</div>
