<!--<ion-header-bar class="bar-stable">
  <h1 class="title">Smart Explore</h1>
</ion-header-bar>-->

<ion-content scroll="false" class="time-page">
    <div class="padding">
        <div class="logo-holder medium">
            <img src="{{baseUrl}}img/logo.png" class="logo"/>
        </div>
        <h1>What's your time frame?</h1>
    </div>
    <div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-clock placeholder-icon"></i>
            <input type="time" placeholder="Search">
        </label>
        <label class="item item-input">
            <i class="icon ion-clock placeholder-icon"></i>
            <input type="time" placeholder="Search">
        </label>
    </div>

</ion-content>

<!--<ion-footer-bar class="bar-stable">-->
  <!--<a ui-sref="map" class="button button-icon">Get Started</a>-->
<!--</ion-footer-bar>-->
<div class="bar bar-footer bar-royal">
  <div ui-sref="map" class="title">
      Let's go <i class="ion ion-arrow-right-c"></i>
  </div>
</div>
